{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Django MVT filtering form</title>
    <link href={% static "css/form.css" %} type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>Filter Journals</h1>
        <form method="GET" action="{% url 'form' %}">
            <div class="sgroup">
                <div class="form-group">
                    <input type="text" id="Title" name="title" class="inputField" placeholder="Title contains..." />
                </div>
                <div class="form-group">
                    <input type="text" id="titleExact" name="title-exact" placeholder="Title exact..." class="inputField" />
                </div>
                <div class="form-group">
                    <input type="text" id="authorName" name="title_author" placeholder="Title or Author..." class="inputField" />
                </div>
            </div>
            <div class="lgroup">
                <div class='form-group'>
                    <label for="minViews">Minimum Views </label>
                    <input type="number" min=0 
                    name="viewsmin" id="minViews" class="inputField" />
                </div>
                <div class='form-group'>
                    <label for="">Maximum Views</label>
                    <input type="number" 
                    min=1
                    id="maxIntView" name="viewsmax" class="inputField" />
                </div>
            </div>
            <div class="lgroup">
                <div class='form-group'>
                    <label for="minpublished__date">From</label>
                    <input type="date" name="min-date" id="minpublished__date" class="inputField" />
                </div>
                <div class='form-group'>
                    <label for="maxpublished__date">To</label>
                    <input type="date" name="max-date" id="maxpublished__date" class="inputField" />
                </div>
            </div>
            <div class="lgroup">
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" id="category" >
                     <option  selected>Choose...</option>
                        {% for c in categories %}
                        <option namevalue="{{c}}">{{c.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="lgroup">
                <div class="form-group">
                    <label for="review">Reviewed</label>

                    <input type="checkbox" {%if checker  and checker == "on"%}
                    {{"checked"}}
                    {%endif%}
                    name="reviewed" id="review"/>
                </div>
            </div>
            <div class="subgroup">
                <button class="btn" id="submit" type="submit" value="Submit">Search</button>
            </div>
        </form>
    </div>
    {% include "_journals.html" %}
</body>

</html>